<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    html,
    body {
      align-items: center;
      background: #f2f4f8;
      border: 0;
      display: flex;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 16px;
      height: 100%;
      justify-content: center;
      margin: 0;
      padding: 0;
    }
    .buttoncs1 {
      text-decoration: none;
      line-height: 1;
      display: inline-block;
      font-size: 20px;
      text-decoration: none;
      border-radius: 8px;
      background-color: rgba(255, 255, 255, 0.63);
      color: #000000;
      padding: 8px;
      margin: 10px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, .6);



    }

  </style>
</head>
<body>
    <header class="head">
        <nav class="navbar">
            <a class="buttoncs1" href="">Home</a>
            <a class="buttoncs1" href="create_account" rel="import">Create Account</a>
            <a class="buttoncs1" href="login">Login</a>
        </nav>
    </header>


</body>

</html>